body {
    background-image: url("assets/tile.png");
    padding: 0px;
    margin: 0px;
}
#root {
    height: 1000px;
    background-image: url("assets/root_tile.png");
    background-size: cover;
    margin: 0px;
}