body {
    background-image: url("assets/tile.png");
    padding: 0px;
    margin: 0px;
}
#root {
    height: 100%;
    width: 100%;
}
#msg {
    resize: both;
}
#text {
    border: 1px solid #000000;
    display: block;
    width: 100%;
    min-height: 40;
}