body {
    background-image: url("assets/tile.png");
    padding: 0px;
    margin: 0px;
}
#root {
    background-image: url("assets/root_tile.png");
    background-size: contain;
    height: 100%;
    width: 100%;
}